/* $Id */
.thanks-box{
  background: #edf5fa;
  border: 1px solid #e0e5fb;
  margin-top: 10px;
}

.thanks-text{
  float: left;
  width: 100px;
  padding: 5px 0;
  text-align: center;
}

.thanks-list{
  margin-left: 100px;
  padding: 5px 10px;
  background: #ffffff;
}